{% extends 'base.html' %}

{% block body %}
    <!-- User Input -->
    <h1>Search for tweets</h1>
    <form id="search form" action="/search-tweets" method="POST" enctype="multipart/form-data">

    <label for="date-search" id="dsearch_label">Search by date:</label>
    <input type="date" id="dsearch" name="dsearch" value="2020-12-12" min="2020-12-12" max="2021-11-15">

    <label for="kwords">Search by keyword:</label>
    <input type="text" id="kword" name="kword"></input>

    <button type="submit" id="search-btn" class="btn btn-primary btn-sm btn-block">Search</button>
    </form>
    <hr>
    <hr>
    <!-- Tweets -->
    <h1>Most liked Tweet</h1>
     <textarea readonly class="form-control" name='tweetsOut' id='tweetsOut' rows="3">
     {{ tweetsout }}
    </textarea>
    <!-- News -->
    <h1>Related News</h1>
     <textarea readonly class="form-control" name='newsOut' id='newsOut' rows="3">
         {{ newsout }}
     </textarea>
{% endblock %}